ion-card {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: 0px;
    border-radius: 28px;
    overflow: hidden;
    width: 100%;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;

    img {
        object-fit: cover; 
        cursor: pointer;
        height: 300px;
        width: 100%;
    }

    &:hover{
        transform: scale(1);
        box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    }
}