* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

ion-card {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: 0px;
    border-radius: 28px;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;

    img {
        object-fit: cover; 
        cursor: pointer;
        height: 150px;
        width: 100%;
    }

    &:hover{
        transform: scale(1);
        box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    }
}

ion-card-header {
    width: 100%;
    background: var(--ion-color-secondary);
    text-align: center;

    ion-card-title {
        color: var(--ion-color-light);
    }
}

ion-card-title {
    font-size: .6rem;
}