#iconCamera {
    font-size: 25px;
}

#selectImage {
    width: 100%;
}
  
.product-image {
    // width: 100%;
    // padding-top: 100%; /* Crear un aspecto cuadrado */
    // object-fit: cover; /* Ajustar la imagen dentro del contenedor */
    width: 150px;
    height: 150px;
}

.selectCategory {
    display: flex;
    /* Utilizar un contenedor flexible */
    align-items: center;
    /* Centrar verticalmente los elementos */
    width: 100%;
    
}

.icon {
    margin-left: auto;
    color: #808080;
    font-size: .88rem;
}

.itemSelectCategory {
    cursor: pointer;
    transition: --background 0.3s;
    --min-height: 60px
}

.itemSelectCategory:hover {
    --background: #42424238;
}

