ion-header {
  min-height: 5rem;
}

#writeMessageInput {
  // background-color: #333333;
}

.ion-col-send-msg {
  display: flex;
  align-items: center;
  font-size: 1.5rem;

  #sendMessageIcon {
    cursor: pointer;
  }
}

.chat-user-message {
  display: flex;
  justify-content: end;
  align-items: center;

  div {
    width: 65%;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 5rem;
  }
}

.chat-ai-message {
  display: flex;
  justify-content: start;
  align-items: center;

  div {
    width: 65%;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 5rem;
  }
}