<ion-header></ion-header>

<ion-content>
  <ion-grid style="width: 85%; height: 80%; overflow-y: auto; padding: 1rem 0rem;">
    <ion-content #content>
      <ion-row *ngFor="let message of messages">
        <ion-col [ngClass]="message.sender === 'chat-user-message' ? 'chat-user-message' : 'chat-ai-message'">
          <div>
            <ion-text> {{ message.sender === 'chat-user-message' ? 'Yo: ' : 'Tory' }}: {{ message.text }} </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-grid>

  <ion-grid style="width: 100%; height: 20%;">
    <ion-row style="width: 100%; height: 100%;">
      <ion-col style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
        <div style="display: flex; align-items: center; width: 85%;">
          <ion-input #writeMessageInput id="writeMessageInput" (keyup.enter)="sendMessage()" [(ngModel)]="newMessage" placeholder="Escribe un mensaje"></ion-input>
          <ion-icon style="font-size: 1.5rem; cursor: pointer; padding-left: 1rem;" name="send-outline" (click)="sendMessage()" id="sendMessageIcon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
