<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat-AI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="chat-container">
      <div *ngFor="let message of messages" class="message" [ngClass]="{'user-message': message.sender === 'Usuario', 'bot-message': message.sender === 'IA'}">
        <div class="message-sender">{{ message.sender }}:</div>
        <div class="message-text">{{ message.text }}</div>
      </div>
    </div>
    
    <div class="message-input">
      <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje"></ion-input>
      <ion-button expand="full" (click)="enviarMensaje()">Enviar</ion-button>
    </div>
</ion-content>
