<ion-menu 
  contentId="main-content"
  auto-hide="false"
  [swipeGesture]="appMenuSwipeGesture"
  (ionDidOpen)="appMenuSwipeGesture = false"
  (ionDidClose)="appMenuSwipeGesture = true"
>
  <ion-header>
    <ion-toolbar>
      <ion-title>doStock AI</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" 
        detail="false" routerLinkActive="selected" (click)="changeCurrentPage(p.title)">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-item class="sing-out" routerDirection="root" lines="none" 
    detail="false" routerLinkActive="selected" (click)="signOut()"  color="danger">
      <ion-icon aria-hidden="true" slot="start" [ios]="'log-out' + '-outline'" [md]="'log-out' + '-sharp'"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="screenWidth < 1000">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="width: auto; margin: 0;"  *ngIf="screenWidth < 1000">{{currentPage}}</ion-title>
    <ion-buttons color="primary" slot="end" class="shoppingCartSeccion" *ngIf="screenWidth < 1000">
      <ion-text >{{shoppCartSvc.getShoppingCartInfo().totalProducts}}</ion-text>
      <ion-icon name="cart-outline" style="font-size: 1.7rem; padding: 0 8px 0 4px;"></ion-icon>
    </ion-buttons>

    <app-navigation-toolbar [shoppingCartInfo]="shoppCartSvc.getShoppingCartInfo()"  *ngIf="screenWidth >= 1000"></app-navigation-toolbar>
  </ion-toolbar>
</ion-header>

<ion-router-outlet id="main-content" main></ion-router-outlet>
