<!--!Change name of this component to select-category -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!addCategorySection">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{addCategorySection ? 'Nueva categoria' : 'Categorias'}}
    </ion-title>

    <ion-buttons slot="end" *ngIf="!addCategorySection">
      <ion-icon (click)="activeAddCategorySection()" id="addCategoryButton" name="add-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
        <!-- <ion-checkbox labelPlacement="end" (ionChange) ="selectCategory(categoryName)">{{categoryName}}</ion-checkbox>  -->

<ion-content>
  <div style="height: 100%;">
    <ion-grid  style="height: 70%;">
      <ion-row *ngIf="addCategorySection">
        <ion-col>
          <ion-item>
            <ion-input label="Nombre de la categoria" labelPlacement="floating" placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="!addCategorySection">
        <ion-row *ngFor="let categoryName of categories | keyvalue">
          <ion-col>
             <ion-checkbox mode="ios" id="radioCheckbox" labelPlacement="end" [(ngModel)]="categoryName.value.isChecked" [disabled]="categoryName.value.disabled" (ionChange)="selectCategoryAction(categoryName.key)">
              {{categoryName.key}}
             </ion-checkbox>
          </ion-col>
        </ion-row>
      </ng-container>
      

    </ion-grid>
  
    <ion-grid class="containerButtons">
      <ion-row>
        <ion-col>
          <ion-button (click)="addCategorySection ? desactiveAddCategorySection() : closeModal()"  >Cancelar</ion-button>
          <ion-button id="acceptButton" (click)="selectCategoryComplete()">Aceptar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>

<!-- Cuando le de click al + en el ion-toolbar se remplaze el texto "agregar categoria", que no aparezca regresar y el + -->