.containerButtons {
    height: 20%;
    
    #okButton {
        margin-left: 10px;
        cursor: pointer;
    }

    #cancelButton {
        cursor: pointer;
    }
}

#okButton:hover, #cancelButton:hover {
    color: #4087F5;
}

#addCategoryButton {
    font-size: 1.5em;
    margin-right: 10px;
}

#radioCheckbox {
    font-size: 1.2em;
    margin-left: 0.5em;
}

#addCategoryButton {
    width: 30px; /* Ancho del botón */
    height: 30px; /* Altura del botón */
    border-radius: 50%; /* Esto crea un botón redondo */
    background-color: transparent; /* Fondo transparente por defecto */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    color: #808080;
  }

#addCategoryButton:hover {
    background-color: #42424238; /* Cambiar el color de fondo a gris en hover */
    cursor: pointer;
}

.separator {
    height: 1px;
    background-color: #ccc; /* Color de la línea separadora */
    margin: 10px 0; /* Ajusta el margen según tus preferencias */
}  