<ion-header></ion-header>

<ion-content>
  <div class="optionsSales">
    <ion-icon name="add-outline" (click)="addProduct()"></ion-icon>
    <ion-icon name="scan-outline" (click)="scan()"></ion-icon>
  </div>

  <div class="search">
      <ion-searchbar
        animated="true" 
        placeholder="Producto" 
        show-clear-button="focus" 
        [debounce]="1000" 
        (ionInput)="handleInputSearchProduct($event)"
      >
      </ion-searchbar>
      <!-- <ion-icon name="funnel-outline" (click)="openSalesFilterModal()"></ion-icon> -->
  </div>

  @if(!querySearchBar) {
    <div class="content_title">
      @if ((allProducts | products: true)?.hasCategories) {
        <h2>Categorías</h2>
      }
    </div>
  }

  <ion-grid>
    <!-- CATEGORIAS -->
    @if(!querySearchBar) {
      <ion-row class="ca_box">
        @for(category of (allProducts | products: true)?.data | keyvalue; track $index) {
          <ion-col class="ca_item">
            <ion-card 
              class="ca-item_card"
              (click)="openCategory(getString(category.key), category.value)"
            >
              <div
                [ngClass]="
                  [isTouch ? 'ca-item_bg_touch' : 'ca-item_bg', 
                  (getCurrentCategoryName() === category.key) ? checkCardClass() : '']"
              >
              </div>
              <ion-card-header>
                <ion-card-title [ngClass]="isTouch ? 'ca-item_title_touch' : 'ca-item_title'">
                  {{ category.key }}
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    }

    <!-- PRODUCTOS QUE SE MUESTRAN CUANDO SE ENTRA A UNA CATEGORIA -->
    @if(currentCategory.inside) {
      <div class="content_title insideCategory">
        <ion-text class="h2">{{ currentCategory.nameCategory }}</ion-text>  
        <ion-icon name="close-outline" id="closeCategory" (click)="backToCategoriesSeccion()"></ion-icon>
      </div>
    }

    <ion-row class="products_ca_row">
      @for (product of currentCategory.data; track $index) {
        <ion-col class="products_ca_col">
          <app-product-card 
            [productName]="product.name" 
            [productImageURL]="product.image_url"
          >
          </app-product-card>
        </ion-col>
      }
    </ion-row>

    <!-- PRODUCTOS SIN CATEGORIA -->
    @if(((allProducts | products: false)?.data).length > 0 && !querySearchBar) {
      <div class="content_title margin">
        <h2>Productos sin categoría</h2>
      </div>
    } 

    @if (!querySearchBar) {
      <ion-row class="products_ca_row">
        @for (product of (allProducts | products: false)?.data; track $index) {
          <ion-col class="products_ca_col">
            <app-product-card
              [productName]="product.name" 
              [productImageURL]="product.image_url"
              (click)="selectQuantityOfProduct(product)"
            >
            </app-product-card>
          </ion-col>
        }
      </ion-row>
    }

    <!-- PRODUCTOS QUE SE MUESTRAN CUANDO SE BUSCA ALGUN PRODUCTO -->
    @if (querySearchBar) {
      <ion-row class="products_ca_row">
        @for (product of resultsSearchBar; track product) {
          <ion-col class="products_ca_col">
            <app-product-card 
              [productName]="product.name" 
              [productImageURL]="product.image_url"
            >
            </app-product-card>
          </ion-col>
        }
      </ion-row>
    }
  </ion-grid>
</ion-content>
