<ion-toolbar>
    <ion-buttons slot="end" (click)="navigateTo('/home/sales')">
      Ventas
    </ion-buttons>
  <ion-buttons slot="end" (click)="navigateTo('/home/products')">
    Productos
  </ion-buttons>
  <!-- <ion-buttons slot="end" (click)="navigateTo('/home/suppliers')">
    Proveedores
  </ion-buttons> -->
  <ion-buttons slot="end" (click)="navigateTo('/home/chat-ai')">
    Chat AI Tory
  </ion-buttons>
  <ion-buttons slot="end" (click)="navigateTo('/home/settings')">
    Configuración
  </ion-buttons>
</ion-toolbar>