* {
    color: var(--ion-color-primary);
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

ion-toolbar {
    --height: 5rem;
    padding-right: 1rem;
}

.main-buttons-toolbar {
    min-width: 10rem;
    height: 5rem;
    justify-content: center;
    cursor: pointer;
}

.main-buttons-toolbar:hover {
    background: var(--ion-color-secondary);
    color: var(--ion-color-light);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shoppingCartSeccion{
    min-width: fit-content;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    height: 5rem;
    margin: 0;
}

.shoppingCartSeccion ion-text {
    padding-left: 8px;
}

.shoppingCartSeccion ion-icon {
    font-size: 1.7rem;
    padding: 0 8px 0 4px;
}


.shoppingCartSeccion:hover {
    background: var(--ion-color-secondary);

    ion-text, ion-icon {
        color: var(--ion-color-light);
    }
}

#salesBtn {
    height: 100%;
}

@keyframes line {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.sales, .products, .chat-ai, .settings {
    /* Hover para el ultimo elemento seleccionado */
    background: var(--ion-color-secondary);
    color: var(--ion-color-light);
}
