<ion-toolbar>
    <ion-buttons slot="end" class="main-buttons-toolbar" [ngClass]="toolbarSvc.getCurrentPage() === 'sales' ? 'sales' : ''" (click)="navigateTo('sales')">
      Ventas
    </ion-buttons>
  <ion-buttons slot="end" class="main-buttons-toolbar" [ngClass]="toolbarSvc.getCurrentPage() === 'products' ? 'products' : ''" (click)="navigateTo('products')">
    Productos
  </ion-buttons>
  <!-- <ion-buttons slot="end" (click)="navigateTo('/home/suppliers')">
    Proveedores
  </ion-buttons> -->
  <ion-buttons slot="end" class="main-buttons-toolbar" [ngClass]="toolbarSvc.getCurrentPage() === 'chat-ai' ? 'chat-ai' : ''" (click)="navigateTo('chat-ai')">
    Chat AI Tory
  </ion-buttons>
  <ion-buttons slot="end" class="main-buttons-toolbar" [ngClass]="toolbarSvc.getCurrentPage() === 'settings' ? 'settings' : ''" (click)="navigateTo('settings')">
    Configuración
  </ion-buttons>
  <ion-buttons color="primary" slot="end" class="shoppingCartSeccion">
    <ion-text>{{shoppingCartInfo.totalProducts}}</ion-text>
    <ion-icon name="cart-outline"></ion-icon>
    <!-- <ion-text style="padding: 0 8px 0 8px;">${{shoppingCartInfo.amount}}</ion-text> -->
  </ion-buttons>
</ion-toolbar>