<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualizar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="updatePassword()" [formGroup]="newPasswordGroup">
        <ion-item>
          <ion-input label="Nueva contraseña" type="password" labelPlacement="floating" 
          formControlName="password"></ion-input>
        </ion-item>
        
        <ion-button type="submit" strong="true" expand="block" (click)="auxFns.navigateTo('/login')" [disabled]="newPasswordGroup.invalid"
        >
          Actualizar contraseña
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
