.recover-password {
    display: flex; 
    width: 100%; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    display: flex; 
    width: 100%; 
    justify-content: center; 
    align-items: center;
}

.create-account {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}