<ion-content>
  <div class="login" style="width: 100%; height: 100%;">
    <div id="main-content">
      <div id="center-content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="logo_content">
                <ion-img src="../../../../assets/img/logo.png"></ion-img>
              </div>
              <div id="form-title-content">
                <ion-title>
                  Iniciar sesión en tu cuenta
                </ion-title>
              </div>
  
              <div id="center-form">
                <form (ngSubmit)="login()" [formGroup]="credentials">
                  <div>
                    <ion-input 
                      label="Correo electrónico" 
                      type="email" 
                      labelPlacement="floating"
                      formControlName="email"
                      fill="outline"
                      required
                    >
                    </ion-input>
                 
                    <ion-input 
                      label="Contraseña" 
                      type="password" 
                      labelPlacement="floating"
                      formControlName="password"
                      fill="outline"
                      required
                      id="pass-input"
                    >
                    </ion-input>

                    <div class="recover-password">
                      <ion-text>
                        ¿Olvidaste la contraseña? <a (click)="forgotPassword()">Clic aquí</a>
                      </ion-text>
                    </div>
                  </div>

                  <div>
                    <ion-button 
                      type="submit" 
                      expand="block" 
                      shape="round" 
                      (click)="auxFns.navigateTo('/home/sales')"
                    >
                      Iniciar sesión
                    </ion-button>
    
                    <div class="create-account">
                      <ion-text>
                        ¿No tienes una cuenta? <a (click)="auxFns.navigateTo('/register')">Crear cuenta</a>
                      </ion-text>
                    </div>
                  </div>
                </form>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
