<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-item>
          <ion-input label="Correo electrónico" type="email" labelPlacement="floating" 
          placeholder="email@domain.com" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" type="password" labelPlacement="floating" 
          formControlName="password"></ion-input>
        </ion-item>
        <ion-button type="submit" strong="true" expand="block" 
        (click)="navigateTo('/home/sales')" [disabled]="credentials.invalid"
        >
          Iniciar sesión
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <div style="display: flex; width: 100%; justify-content: center; align-items: center; cursor: pointer;">
    <ion-text (click)="forgotPassword()">
      ¿Olvidaste la contraseña?
    </ion-text>
  </div>
  <div style="display: flex; width: 100%; justify-content: center; align-items: center; cursor: pointer;">
    <ion-text (click)="navigateTo('/register')">
      Crear cuenta
    </ion-text>
  </div>
</ion-content>
