<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        
        <ion-title>Venta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="search">
        <ion-searchbar animated="true" placeholder="Producto"></ion-searchbar>
        <ion-icon name="funnel-outline"></ion-icon>
    </div>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="chevron-up"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button>
            <ion-icon name="cash-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="scan-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
</ion-content>
