* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

ion-header {
    min-height: 5rem;
}

ion-content {
    --padding-bottom: 1rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 1rem;
}

// .home_items_row {
//     grid-gap: 25px;
// }

.home_item_box {
    padding: 0;
    margin: 0;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_item_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--ion-color-secondary);
    color: var(--ion-color-light);
    width: 90%;
    height: 90%;
}

h2 {
    margin: 0px;
    font-weight: 600;
}

.h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

#closeCategory {
    font-size: 2rem; 
    cursor: pointer;
}

.content_title {
    color: var(--ion-color-primary);
}

.content_title.insideSection {
    display: flex; 
    justify-content: space-between;
}

.content_title.insideCategory {
    display: flex; 
    justify-content: space-between;
}

.content_title.margin {
    margin: 1rem 0;
}

.optionsSales {
    display: flex; 
    width: 100%; 
    justify-content: end; 
    align-items: center;
    margin-bottom: 1rem;
}

.search {
    margin-bottom: 1rem;

    ion-searchbar {
        padding: 0;
        margin: 0;

        &:hover {
            box-shadow: 0px 2px 0px 0px var(--ion-color-secondary);
        }
    }
}

ion-icon {
    margin-left: .5rem; 
    font-size: 1.5rem;
    cursor: pointer;
}

// barcode scanner
body.barcode-scanner-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}

// Show only the barcode scanner modal
.barcode-scanner-modal {
    visibility: visible;
}

ion-grid {
    margin: 0;
    padding: 0;
}

.products_ca_row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 25px;
    justify-items: center; 
    padding: 0 10px;
}

.products_ca_col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

app-product-card {
    width: 100%;
}

.ca_box {
    padding: 0;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
    // grid-gap: 25px;
    margin: 0.5rem 0;
}

.ca_item {
    overflow: hidden;
    padding: 0;
}

.ca-item_card {
    display: block;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
    border-radius: 28px;
    cursor: pointer;
}

.ca-item_card ion-card-header .ca-item_title {
    color: var(--ion-color-primary);
    overflow: hidden;
    z-index: 2;
    position: relative;
}

.ca-item_card ion-card-header .ca-item_title_touch {
    color: var(--ion-color-primary);
    overflow: hidden;
    z-index: 2;
    position: relative;
}

ion-grid ion-row ion-col ion-card ion-icon {
    margin-right: 1rem;
}

.ca-item_card:hover .ca-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ca-item_card:hover ion-card-header .ca-item_title {
  color: var(--ion-color-light);
}

.ca-item_bg {
    height: 128px;
    width: 128px;
    background-color: var(--ion-color-secondary);

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ca-item_bg_touch {
    height: 128px;
    width: 128px;
    background-color: var(--ion-color-secondary);

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.selected_item_card {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.selected_item_card ~ ion-card-header .ca-item_title {
    color: var(--ion-color-light);
}

.selected_item_card ~ ion-card-header .ca-item_title_touch {
    color: var(--ion-color-light);
}

@media (prefers-color-scheme: dark) {
    .barcode-scanner-modal {
        --background: transparent;
        --ion-background-color: transparent;
    }
}