ion-header {
    min-height: 5rem;
}

h2 {
    margin: 0px;
}

.optionsSales {
    display: flex; 
    width: 100%; 
    justify-content: end; 
    align-items: center;
    margin-bottom: 1rem;
}

.search {
    margin-bottom: 1rem;

    ion-searchbar {
        padding: 0;
        margin: 0;

        &:hover {
            box-shadow: 0px 2px 0px 0px #00ff00;
        }
    }
}

ion-icon {
    margin-left: .5rem; 
    font-size: 1.5rem;
    cursor: pointer;
}

// barcode scanner
body.barcode-scanner-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}

// Show only the barcode scanner modal
.barcode-scanner-modal {
    visibility: visible;
}

.separator {
    height: 1px;
    background-color: #ccc; /* Color de la línea separadora */
    margin: 10px 0; /* Ajusta el margen según tus preferencias */
}  

ion-grid {
    margin: 0 1rem .5rem 1rem; 
    padding: 0;
}

ion-grid ion-row ion-col ion-item {
    cursor: pointer;
}

ion-grid ion-row ion-col ion-item ion-label {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .barcode-scanner-modal {
        --background: transparent;
        --ion-background-color: transparent;
    }
}