<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        
        <ion-title>Venta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search">
      <ion-searchbar animated="true" placeholder="Producto"></ion-searchbar>
      <ion-icon name="funnel-outline"></ion-icon>
  </div>

  <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="chevron-up"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="cash-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="scan-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="addProduct()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let category of categoriesData | keyvalue">
          <ion-item>
            <!-- <ion-thumbnail slot="start">
              <img alt="{{product.name}}" [src]="product.image_url" />
            </ion-thumbnail> -->
            <ion-label>{{ category.key }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<!-- call pipe with parameters < *ngFor="[] | addImagesToProducts : productsData : productImages as products">   *ngFor="let product of productsData" -->